.mainbackground{
  z-index:-1; 
  display: grid;
  justify-content: center;
  /* align-items:center; */
  margin: 0 auto;
  top:0;
  left:0;
}
.mainbackground img{
  width: 100%;
  position: absolute;
}
.contentallcomponents{
  /* max-width: 1080px; */
  width: 100%;
}
.Header{
  grid-area: Header;
}
.Triangle{
  grid-area:Triangle;
}
.Moon{
  grid-area:Moon;
}
.Whatis{
  grid-area: Whatis;
}
.clouds{
  top:400px;
  z-index: 1;
  position:relative;
  display: grid;
  justify-content: center;
  width: 100%;
}
.clouds2{
  top:50vh;
  z-index: 1;
  position:relative;
  display: grid;
  justify-content: center;
  width: 100%;
}
.mountains{
  top:30vh;
  display: grid;
  justify-items: center;
  grid-template-rows: .5fr 1fr; 
  z-index: 2;
  position:relative;
  width: 100%;
}
.shippaper{
  top:-10vh;
  z-index: 1;
  position:relative;
  display: grid;
  justify-content: center;
  width: 100%;
}
#montana{
  top: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 500px;
    margin-left: 560px;
    z-index: -1;
    margin-top: -285px;
}
.contentclouds{
  grid-template-areas:"Moon Header"
                      "Whatis Triangle"
                      "Whatis Triangle";
  display: grid;
}
.contentclouds img{
  width:auto;
  position: relative;
  top:-300px;
}
/* #nubes{
  width: auto;
} */