.mainbackground{
  z-index:-1; 
}
.mainbackground img{
  width: 100%;
  position:absolute;
}
.Header{
  grid-area: Header;
}
.Triangle{
  grid-area:Triangle;
}
.Moon{
  grid-area:Moon;
}
.Whatis{
  grid-area: Whatis;
}
.clouds{
  top:65vh;
  z-index: 1;
  position:relative;
}
.clouds2{
  top:45vh;
  z-index: 1;
  position:relative;
}
.mountains{
  top:100vh;
  display: grid;
  grid-template-rows: .5fr 1fr; 
  z-index: 1;
  position:relative;
}
.shippaper{
  top:60vh;
  z-index: 1;
  position:relative;
}
.mountains #mountainsola{
  padding-top:1000px;
  position: 
}
.contentclouds{
  grid-template-areas:"Moon Header"
                      "Whatis Triangle"
                      "Whatis Triangle";
  display: grid;
}
.contentclouds img{
  width:auto;
  position: relative;
  top:-300px;
}