body {
  overflow-x: hidden !important;
  background-image: linear-gradient(#815b8e
  								  ,#9098b0,#f4f8fc,#36a955,#ecdda3,#afbbce,
  									#94adcf,#6583a7,#687e99,#b7d9fe,#d4956b); 
}
.mainbackground{
  z-index:-1; 
  display: grid;
  justify-content: center;
  margin: 0 auto;
  top:0;
  left:0;
  /* height: 100%; */
  /* overflow-y: visible;
  overflow-x: hidden; */
}
.mainbackground img{
  width: 100%;
  position: absolute;
  /* height: 1500vh; */
}
#mainback{
  position: absolute;
}
.contentallcomponents{
  position: relative;
  max-width: 1920px;
  overflow: hidden;
  height: 100%;
  /* visibility: hidden; */

}
.Header{
  grid-area: Header;
}
.Triangle{
  grid-area:Triangle;
}
.Moon{
  grid-area:Moon;
}
.Whatis{
  grid-area: Whatis;
}
.clouds{
  top:400px;
  z-index: 1;
  position:relative;
  display: grid;
  /* justify-content: center; */
  width: 100%;
}
.contentclouds{
  grid-template-areas:"Moon Header"
                      "Whatis Triangle"
                      "Whatis Triangle";
  display: grid;
  padding-top: 90px;
}
.contentclouds img{
  width:100%;
  position: relative;
  top:-300px;
}
.nubescapa1{
padding-top: 100px;
}

.clouds2{
  top:15vh;
  z-index: 1;
  position:relative;
  display: grid;
  /* justify-content: center; */
  width: 100%;
}
.contentclouds2{
  width:auto;
  position: relative;
  justify-content: center;
  display: grid;
}
.tinyclouds{
  display: grid;
  justify-items: center;
}
.tinyclouds img{
  width: auto;
  position: relative;
}
.mountains{
  display: grid;
  grid-template-rows: .5fr 1fr; 
  z-index: 2;
  position:relative;
  width: 100%;
}
.shippaper{
  top:50px;
  z-index: 1;
  position:relative;
  display: grid;
  width: 100%;
  margin-bottom: 900px;
}
#montanaback{
  position: relative;
  width: 550px;
  margin-left: 1350px;
  top:-360px;

}
#montanafront{
  position: relative;
  width: 650px;
  left: 550px;
  top: -50px;
}
#nubes3capa3{
  margin-left: -100px;
  width: 2100px;
  top:-100px;
}
#nubes3capa2{
  margin-left: -100px;
  width: 2100px;
  top:50px;
}
#nubes3capa1{
  margin-left: -100px;
  width: 2100px;
  top:220px;
}
#nubes2capa2{
  transition:1s;
}
#nubes2capa1{
  top:360px;
  transition:1s;
}
#watercapa1{
  width: auto;
  margin-left: -100px;
  top:3030px;
}
#watercapaoculta{
  width: auto;
  margin-left: -100px;
  top:4000px;
  z-index:-1;
}
#watercapa2{
  width: auto;
  margin-left: -100px;
  top:1300px;
}
#watercapa3{
  width: auto;
  margin-left: -200px;
  top:300px;
}
#watercapa4{
  width: auto;
  margin-left: -200px;
  top:200px;
}
#deep{
  width: 2000px;
  margin-left: -50px;
  top:7300px;
}
.fondoazul{
  z-index: -2;
  margin-top:-233px;
}
#colinas{
  width: 2100px;
  margin-left: -90px;
  z-index: -1;
  padding-top: 350px;
}
.arena{
  top:-650px;
}
@media screen and (max-width:1610px){
  #montanafront{
    width: 500px;
    left: 320px;
    top: 140px;
  }
  #montanaback{
    width: 500px;
    margin-left: 1100px;
    top: -360px;
}
}
@media screen and (max-width:1370px){
  #nubescapa1 {
    width: auto;
  }
  #nubescapa2 {
    width: auto;
  }
  #nubes2capa1 {
    width: auto;
  }
  #nubes2capa2 {
    width: auto;
  }
  #nubes3capa3{
    width: 1600px;
    top: -150px;
    margin-left: -80px;
  }
  #nubes3capa2{
    top: 100px;
    width: 1600px;
    margin-left: -102px;
  }
  #nubes3capa1{
    width: 1600px;
    top: 250px;
    margin-left: -100px;
  }
  .fondoazul {
    margin-top: -322px;
    height: 858px;

  }
  .clouds2{
    justify-content: center;
  }
  .mainbackground{
    width: auto;
  }
  .mainbackground #fondopart1{
    width: auto;
  }
  #montanafront{
    width: 400px;
    left: 320px;
    top: 140px;
  }
  #montanaback{
    width: 400px;
    margin-left: 1000px;
    top: -360px;
}
.arena{
  top:-500px;
  width: auto;
}
}
@media screen and (max-width:1290px){
  .mainbackground{
    width: auto;
  }
  
  #montanaback{
    width: 300px;
    margin-left: 850px;
    top: -280px;
}
#montanafront{
  width: 300px;
  margin-left: -250px;
  top: 100px;
}
#deep{
  width: 1400px;
  margin-left: -50px;
  top:7350px;
}
  .mainbackground #fondopart1{
    width: auto;
  }
  .contentallcomponents{
    max-width: 1280px;
    height: 100%;
  }
  .clouds2{
    justify-content: center;
    top: 15vh;
  }
  .clouds{
    top:300px;
  }
  #nubescapa1 {
    width: auto;
  }
  #nubescapa2 {
    width: auto;
  }
  .fondoazul {
    margin-top: -360px;
    height: 860px;
  }
  .arena{
    top:-700px;
    width: auto;
    height: 900px;
  }
  #nubes2capa1{
    width: auto;
  }
  #nubes2capa2{
    width: auto;
  }
  #nubes2capa2{
    transform: translateY(150px);
  }
  #nubes3capa3{
    width: 1400px;
    top: -184px;
    margin-left: -80px;
  }
  #nubes3capa2{
    top:5px;
    width: 1400px;
    margin-left:-80px;
  }
  #nubes3capa1{
    width: 1280px;
    top:150px;
    margin-left:-100px;
  }
  .shippaper{
    margin-bottom: 300px;
  }
}