.contentinfofigi{
    display: grid;
    padding-top:350px;
    justify-content: center;
    grid-gap: 60px;
}
#imgcardinfo{
    width: auto;
    position: relative; 
    z-index: 2;

}
#imgdecor{
    width: auto;
    position: relative;
}
.contentelements h1{
    font-size: 25px;
    font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  text-align: left;
  margin-top: 0px;
  line-height: 25px;
  z-index: 0;
  text-decoration: underline;
  margin-bottom: auto;
}
.contentelements2 h1{
    font-size: 25px;
    font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  text-align: right;
  margin-top: 0px;
  line-height: 25px;
  z-index: 0;
  text-decoration: underline;
  margin-bottom: auto;
}
.contentelements div{
  padding-left:20px;
}
.contentelements2 div{
  padding-right:20px;
}
.contentelements p{
    font-size: 25px;
    font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  text-align: left;
  margin-top: 0px;
  line-height: 25px;
  z-index: 0;
  margin-bottom: 0px;
}
.contentelements2 p{
    font-size: 25px;
    font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  text-align: right;
  margin-top: 0px;
  line-height: 25px;
  z-index: 0;
  margin-bottom: 0px;
}

#imgdecor2{
    width: auto;
    position: relative;
    transform: scale(0.6);
}
.cardinfo{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    z-index: 1;
}
.atracciones{
  justify-content: center;
  display: grid;
}
#imgatracciones{
  position: relative;
  width: auto;
}
.contentelements #imgcardinfo{
  padding-right: 100px;
}
.contentelements2 #imgcardinfo{
  padding-left: 130px;
}
.contentelements{
    display:grid;
    grid-template-columns: 150px 800px 150px;
    width: 1150px;
    background-color:#225e8b;
    border-radius: 50px;
    height: 220px;
    z-index: 3;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.contentelements2{
    display:grid;
    grid-template-columns: 200px 800px 100px;
    background-color:#225e8b;
    width: 1150px;
    border-radius: 50px;
    height: 220px;
    z-index: 3;
    align-content: center;
    align-items: center;
    justify-items: center;
}
@media screen and (max-width:1290px){
  .contentelements{
    grid-template-columns: 190px 740px 140px;
    width: 1100px;
}
.contentelements2{
    grid-template-columns: 200px 700px 90px;
    width: 1100px;
    
}
#imgdecor2{
  padding-left:20px; 
}
.contentelements #imgcardinfo{
  padding-right: 70px;
}
}