.contentdescription{
    display: grid;
    padding-top:200px;
    grid-template-columns: .4fr .4fr;
    grid-gap:70px;
}
.concepttextdescription{
    transform: scale(1.2);
} 
.conceptimgsdescription{
    transform: scale(1.2);
    margin-top: -20px;
}