.contentdescription{
    display: grid;
    grid-template-columns: .4fr .4fr;
    justify-items: center;
    z-index:3;
    justify-content: center;
    margin-top: 50px;
}
.concepttextdescription{
    width: auto;
    position: relative;
} 
.concepttextdescription p{
    font-size: 30px;
    text-align: justify;
    font-family: 'Happy Monkey', cursive;
    color: #20386b;
    margin-top: 0px;
    line-height: 35px;
    z-index: 0;
}
#imgdescrip{
    width: auto;
    position: relative;
}