.Header {
  padding-right:300px; 
  z-index: 4;
  }
  .Header img{
    width: 100
  }

  @media screen and (max-width:1610px){
    .Header{
      padding-right: 100px;
    }
  }
  @media screen and (max-width:1370px){
    .Header{
      padding-right: 200px;
    }
  }
  @media screen and (max-width:1290px){
    .Header{
      padding-right: 250px;
    }
  }
  @media screen and (max-width:700px){
    .HeaderR{
      max-width: 700px;
    }
    .HeaderR .fondo{
      position: absolute;
      max-width: 700px;
      z-index: 0;
    }
    .HeaderR .estrella{
      position: absolute;
      max-width: 700px;
      z-index: 1;
    }
    .logoparque{
      position: relative;
      top: 0;
      z-index: 2;
      
    }
    .logotitulo{
      max-width: 450px;
      padding:150px 50px 0px 150px;
    }
    .entrete{
      max-width: 450px;
      float: right;
    }
  }
  
  
  