.Header {
  padding-right:300px; 
  z-index: 4;
  }
  .Header img{
    width: 100
  }

  @media screen and (max-width:1610px){
    .Header{
      padding-right: 100px;
    }
  }
  @media screen and (max-width:1370px){
    .Header{
      padding-right: 200px;
    }
  }
  @media screen and (max-width:1290px){
    .Header{
      padding-right: 250px;
    }
  }
  @media screen and (max-width:700px){
    .HeaderR{
      max-width: 700px;
    }
    .HeaderR .fondo{
      position: absolute;
      max-width: 700px;
      height: fit-content;
      z-index: 0;
    }
    .HeaderR .estrella{
      position: absolute;
      max-width: 700px;
      z-index: 1;
      margin-left:-20px;
    }
    .contentlogoparque{
      position: relative;
    }
    .logoparque{
      position: relative;
      top: 0;
      z-index: 2;
      width: 700px;
      display: grid;
      justify-items: right;
      
    }
    .logotitulo{
      max-width: 500px;
      padding:170px 50px 0px 100px;
      margin-right: 50px;
    }
    .entrete{
      margin-top: -30px;
      max-width: 350px;
      /* float: right; */
    }
  }
  
  
  