@media screen and (max-width:700px){
.HeavenR{
    max-width: 700px;
    overflow: hidden;
    padding-top: 300px;
  }
  .HeavenR .fondo{
    position: absolute;
    z-index: 0;
    height: 1500px;
    max-width: 700px;
  }
.contentnubescielo{
    max-width: 700px;
    position: relative;
}
.contentnubescielo img{
    max-width: 850px;
}
.nube3{
  position: absolute;
  margin-top: -100px;
  margin-left:-100px;
}
.nube2{
  position: absolute;
  margin-top: -30px;
}
.nube1{
  position: absolute;
  margin-top: 40px;
  margin-left:-100px;
}
.montanaback{
  width: 300px;
    position: absolute;
    margin-top: -264px;
    margin-left: 487px;
}
.montanafront{
  margin-top: -100px;
  width: 320px;
  margin-left: 100px;
  margin-bottom: -23px;
  position: absolute;
}
.center{
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 170px;
  margin-bottom: 30px;
}
.textocenter{
  font-size: 22px;
    font-family: 'Happy Monkey', cursive;
    color: #00386b;
    margin-top: 20px;
    line-height: 35px;
    text-align: center;
    max-width: 520px;
}
.logo{
  max-width: 450px;
}

.Montanaverde{
  position: relative;
  display: grid;
  max-width: 700px;
  justify-content: center;
  justify-items: center;

}

.fondomontanaverde img{
  max-width: 750px;
}
.nubesverde{
  margin-top: 24px;
  position: absolute;
}
.montana3v{
  margin-top: 5px;
  position: absolute;
}
.montana2v{
  margin-top: 50px;
  position: absolute;
}
.montana1v{
  margin-top: 60px;
  position: relative;
  height: 1050px;
}
.arenaR{
  position: relative;
  margin-top: -150px;
  z-index: -1;
  height: 1000px;
  max-width: 700px;
}
.arbol{
  position: absolute;
    z-index: 5;
    width: 150px;
    left: 0;
    margin-left: 20px;
    margin-top: 150px;
}
}