.contentimgsh{
    padding-top:750px;
    z-index: 2;
    display: grid;
}
.contentimgsh #imgend{
    width:100%;
    position: absolute;
    top: 98%;
}
.contentimgsh #imgend2{
    padding-top: 500px;
    position: absolute; 
    top: 98%;
    width: 900px;
    padding-left: 250px;
}