.contentimgsh{
    margin-top:1450px;
    z-index: 2;
    display: grid;
}
.contentimgsh #imgend{
    width:100%;
    position: absolute;
    top: 96.5%;
}
.contentimgsh #imgend2{
    padding-top: 600px;
    position: absolute; 
    top: 95.5%;
    width: auto;
    left: 10%;
}
@media screen and (max-width:1400px){
    .contentimgsh #imgend{
        top: 97%;
    }
    .contentimgsh #imgend2{
        top: 95%;
        padding-left: 50px;
    }
}
@media screen and (max-width:1290px){
    .contentimgsh #imgend{
        top: 92.5%;
    }
    .contentimgsh #imgend2{
        top: 90%;
        /* padding-left: 110px; */
    }
}
