.contentimgsh{
    padding-top:750px;
    z-index: 2;
    display: grid;

}
.contentimgsh #imgend{
    width:100%;
    position: relative;
    top:0;
    width: 1070px;
}
.contentimgsh #imgend2{
    
    padding-top: 150px;
    width:100%;
    position: relative; 
    top: 0;
}