.contentimgsh{
    margin-top:1450px;
    z-index: 2;
    display: grid;
}
.contentimgsh #imgend{
    width:100%;
    position: absolute;
    top: 96.5%;
}
.contentimgsh #imgend2{
    padding-top: 600px;
    position: absolute; 
    top: 95.5%;
    width: 1000px;
    padding-left: 450px;
}
@media screen and (max-width:1370px){
    .contentimgsh #imgend{
        width:100%;
        position: absolute;
        top: 93%;
    }
    .contentimgsh #imgend2{
        top: 90%;
        padding-left: 110px;
    }
}
/* @media screen and (max-width:1370px){
    .contentimgsh #imgend{
        top: 100%;
    }
    .contentimgsh #imgend2{
        top: 94.5%;
        padding-left: 210px;
    }
}
@media screen and (max-width:1290px){
    .contentimgsh #imgend2{
        padding-top: 50px;
        padding-left: 100px;
    }
    .contentimgsh #imgend{
        top: 91%;
    }
}  */