.contentparksfigi{
    display: grid;
    padding-top: 80px;
    justify-content: center;
    grid-column-gap: 120px;
}
#imgparkp{
    width:100%;
    position: relative; 
    z-index: 2;
}
#imgparkp2{
    width:100%;
    position: relative; 
    z-index: 2;
}
#imgcardparkbig{
    padding-top: 100px;
    width:600px;
    position: relative; 
}
.contentelementsimgs{
    display: grid;

    grid-template-columns: 1fr 1fr;
}
P{
    z-index:5 ;
}