.contentparksfigi{
    display: grid;
    padding-top: 100px;
    justify-items: center;
}
#imgcardparkbig{
    grid-area: c;
    display: grid;
    width:auto;
    position: relative; 
}
#imgcardparkmedium{
    width: auto;
    position: relative;
    display: grid;
    grid-area: a;
}
#imgcardparksmall{
    width: auto;
    position: relative;
}
.contentapairimg{
    display: grid;
    grid-area: b;
    grid-template-rows: 200px 1fr;
    justify-items: center;
}
.contentelementsimgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template:"a b"
                    "c c";
    justify-items: center;
}
#textimg{
    position: relative;
    width: 850px;
}
P{
    z-index:5 ;
}