.Moon {
    z-index: 4;
    display: grid;
    grid-template-rows: 250px 450px;
    top:0;
}
#imagerocket{
    z-index: 5;
    padding-left: 400px;
    margin-bottom: 100px;
    width: auto;
}
.imagemoon{
    padding-top: 100px;
}
@media screen and (max-width:1280px){
    #imagerocket{
        padding-left: 200px;
        width: 180px;
    }
}
@media screen and (max-width:1370px){
    #imgmoon{
        width: 700px;
    }
    #imagerocket {
        width: 200px;
        padding-left: 250px;
    margin-bottom: 100px;
    }
}