.Moon {
    z-index: 4;
    display: grid;
    grid-template-rows: 250px 1fr;
    /* position: sticky; */
 top:0;
}
.imagerocket{
    z-index: 5;
    padding-left: 200px;
    margin-bottom: 50px;
    /* transform: scale(1.2);
    animation: rocket infinite;
    animation-duration:15s;
    animation-delay:15s;
    transform: rotate(-20deg); */
}


/* @keyframes rocket {
  0% {top:-300px;
  }
  30% {
      top:-700px;
      transform: rotate(-20deg);
    }
} */

.imagemoon{
    /* transform: scale(1.3); */
    padding-left: 80px;
    /* transition: transform 2s; */
}