.Moon {
    z-index: 4;
    display: grid;
    grid-template-rows: 250px 450px;
    top:0;
}
#imagerocket{
    z-index: 5;
    padding-left: 400px;
    margin-bottom: 100px;
    width: auto;
}
.imagemoon{
    padding-top: 100px;
}
@media screen and (max-width:1610px){
    #imgmoon{
        width: auto;
    }
    #imagerocket {
        width: 200px;
        padding-left: 350px;
    }
}
@media screen and (max-width:1370px){
    #imgmoon{
        width: 700px;
    }
    #imagerocket {
        width: 200px;
        padding-left: 250px;
    margin-bottom: 100px;
    }
}
@media screen and (max-width:1290px){
    #imagerocket{
        padding-left: 250px;
        width: 180px;
    }
}
/*Responsive*/
@media screen and (max-width:700px){
    .MoonR{
        position: relative;
        max-width: 700px;
        
    }
    .coheteluna{
        max-width:700px;
        position: relative;
        overflow: visible;
    }
    .luna{
        max-width: 450px;
        margin:100px 0px 0px 70px;
    }
    .cohete{
        max-width: 110px;
        position: absolute;
        left: 0;
        top:0;
        margin-left: 220px;
    }
    .nubes img{
        
        max-width: 850px;
        position: absolute;
        margin-top:50px;
    }
    .nubes .nubes1{
        margin-top: 50px;
    }
    .nubes .nubes2{
        margin-top: 125px;
    }
    .nubes .fondonubes{
        margin-top: 80px;
    }
    .nubes{
    position: relative;
    max-width: 700px;
    
    }
}
