.contentconcept{
display: grid;
grid-template-columns: 300px 500px;
justify-content:center;
z-index: 2;

}
.conceptimgs{
    width: auto;
    justify-content: center;
    transform: scale(1.3);
    position: relative;
    margin-bottom: 500px;
    
   
}
.conceptimgs #img1{
    position: relative;
    width: auto;
}
.concepttexts #imgtext{
    position: relative;
    width: auto;
    transform: scale(1.3);
}
.concepttexts{
grid-template-rows: .2fr auto;
 display: grid;
 justify-content: center;
}
