.contentconcept{
display: grid;
grid-template-columns: 450px 1fr+100px 50px;
justify-content:center;
z-index: 2;
margin-top: 250px;
grid-column-gap: 150px;
}
.conceptimgs{
    width: auto;
    justify-content: center;
    display: grid;
    position: relative;
    grid-template-rows: 100px 700px;
    padding-right: 20px;
}
.conceptimgs #img1{
    position: relative;
    width: auto;
    padding-left: 350px;
    padding-top: 70px;
}
.concepttexts #imgtext{
    position: relative;
}
.concepttexts{
grid-template-rows: .2fr auto;
 display: grid;
 justify-items: center;
}
.textcontentconcept{
    width: 650px;
    text-align: justify;
}
.concepttexts p{
    font-size: 27px;
    font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  margin-top: 0px;
  line-height: 40px;
  z-index: 0;
}
.imgsniños{
    display: grid;
}
.imgsniños img{
    width: 500px;
}
@media screen and (max-width:1610px){
    .contentconcept{
        margin-top: 150px;
        grid-template-columns: 400px 1fr 200px;
        grid-column-gap: 40px;
    }
    .conceptimgs #img1{
        padding-left: 80px;
    }
    

}
@media screen and (max-width:1370px){
    .contentconcept{
        margin-top: 70px;
        grid-template-columns: 350px 1fr 150px;
        grid-column-gap: 40px;
    }
    .conceptimgs #img1{
    
        padding-left: 80px;
    }
    

}
@media screen and (max-width:1280px){
    .concepttexts #imgtext{
       width: auto;
    }
    .contentconcept{
        margin-top: 55px;
        margin-bottom: 270px;
        grid-template-columns: 1fr;
    }
    .concepttexts p{
        font-size: 22px;
    }
    .conceptimgs{
        
        display: none;
    }
    .conceptimgs #img1{
        padding-left: 0px;
        display: none;
    }
    .imgsniños{
        display: none;
    }
  }