.contentpark{
    display: grid;
    padding-top:450px;
    justify-items: center;

}
.contentpark #imgpark{
    width: auto;
    position: relative; 
}
.contentpark #imgpark2{
    padding-bottom: 25px;
    width: auto;
    position: relative; 
}
