.contentpark{
    display: grid;
    padding-top:450px;
    justify-items: center;
    max-width: 1920px;
}
.contentpark #imgpark{
    width: auto;
    position: relative; 
    width: 1200px;
}
.contentpark #imgpark2{
    padding-bottom: 25px;
    width: 750px;
    position: relative; 
}
@media screen and (max-width:1610px){
    .contentpark{
    }
}
@media screen and (max-width:1370px){
    
}
@media screen and (max-width:1290px){
    
}

