.contentpark{
    display: grid;
    padding-top:450px;
    justify-items: center;

}
.contentpark #imgpark{
    width: auto;
    position: relative; 
}
.contentpark #imgpark2{
    padding-bottom: 25px;
    width: auto;
    position: relative; 
}
@media screen and (max-width:1610px){
    
    .contentpark #imgpark{
        margin-left: -100px
    }
    .contentpark #imgpark2{
        margin-left: -100px
    }
}
@media screen and (max-width:1370px){
    .contentpark{
        justify-items:initial;
    }
    .contentpark #imgpark{
        padding-left: 180px;
    }
    .contentpark #imgpark2{
        padding-left: 380px;
    }
}
@media screen and (max-width:1290px){
    .contentpark{
        justify-items:initial;
    }
    .contentpark #imgpark{
        padding-left: 100px;
    }
    .contentpark #imgpark2{
        padding-left: 300px;
    }
}

