.contenttrend{
    display: grid;
    padding-top:150px;
    width: 650px;
    justify-content: center;
    z-index: 3;
    padding-left: 200px;
}
.contenttrend h1{
    margin-bottom: 5px;
    font-size: 45px;
    font-family: Luckiest guy Regular;
    color: #5e1a72;
    -webkit-text-stroke: 1px white

}
.contenttrend p{
    font-size: 23px;
  font-family: Happy Monkey regular;
  color: #ffffff;
  margin-top: 0px;
  line-height: 30px;
  z-index: 0;
}