.contenttrend{
    display: grid;
    padding-top:150px;
    width: 100%;
    justify-content: center;
}
.contenttrend #imgpark{
    width: auto;
    position: relative; 
    transform: scale(1.5);
}
