.contenttrend{
    display: grid;
    top: 450px;
    width: 900px;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: justify;
    z-index: 9999;
    left: 350px;
    position: relative;
    
}

.contenttrend h1{
    margin-bottom: 5px;
    font-size: 60px;
    font-family: 'Luckiest Guy', cursive;
    color: #d34f29;
    -webkit-text-stroke: 1px white
}
.contenttrend p{
    font-size: 30px;
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
    margin-top: 0px;
    line-height: 40px;
    z-index: 0;
}
@media screen and (max-width:1380px){
    .contenttrend{
        top: 350px;
        left:200px;
        width: 700px;
    }
    .contenttrend h1{
        margin-bottom: 5px;
        font-size: 45px;
        font-family: 'Luckiest Guy', cursive;
        color: #d34f29;
        -webkit-text-stroke: 1px white
    }
    .contenttrend p{
        font-size: 23px;
        font-family: 'Happy Monkey', cursive;
        color: #ffffff;
        margin-top: 0px;
        line-height: 30px;
        z-index: 0;
    }
}