.contentimgs {
    z-index: 4;
    display: grid;
    top:50px;
    }
.imgtexto{
    transform: scale(1.5);
    margin-bottom: 20px;
    display: grid;
    justify-content: right;
    margin-right: 35px;
    }
.contentall{
    grid-area:Triangle;
    justify-content: right;
    align-content: initial;
    padding-right: 50px;
    display: grid;
}
.imgtriangle{
    width: auto;
    transform: scale(1.5);
    transition:transform .8s ease-in-out;
}
.imgtriangle:hover{
    transform: rotate(360deg);
}

  
    