.contentimgs {
    z-index: 4;
    display: grid;
    padding-top: 100px;
    }
.imgtexto{
    position:absolute;
    right: 0;
    }
.contentall{
    grid-area:Triangle;
    justify-content: right;
    align-content: initial;
    display: grid;
}
#imgtriangleuno{
    width: 650px;
}
.contentimgtext{
    padding-top: 20px;
    width: 700px;
}
@media screen and (max-width:1610px){
    #imgtriangleuno{
        width: 550px;
    }
    .contentimgtext{
     width:600px;
     padding-top: 20px;
    } 
@media screen and (max-width:1370px){
    #imgtriangleuno{
        width: 550px;
    }
    .contentimgtext{
        width: 540px;
    }
}
@media screen and (max-width:1290px){
   #imgtriangleuno{
       width: 450px;
       padding-left: 100px;
   }
   .contentimgtext{
    padding-top: 0px;
    padding-left: 30px;
} 
}

 }

    