.contentimgs {
    z-index: 4;
    display: grid;
    padding-top: 150px;
    }
.imgtexto{
    position:absolute;
    right: 0;
    }
.contentall{
    grid-area:Triangle;
    justify-content: right;
    align-content: initial;
    padding-right: 50px;
    display: grid;
}
.imgtriangle{
    width: auto;
}

  
    