.contentvideo{
    padding-top:50px;
    display: grid;
    grid-gap:140px;
    justify-content: center;
    position: relative;
}
.imgprevideo{
    width: auto;
    position: relative;
    display: grid;
    justify-content: center;
    padding-bottom:70px;
     /*-webkit-animation: mymove 5s infinite;
    -webkit-animation-delay: 2s; 
    animation: mymove 15s infinite;
    animation-delay: 2s;Safari 4.0 - 8.0 
    transform: scale(1.1); 
    padding-bottom: 50px; */
}
/* @keyframes mymove {
    0% {left: -600px;
      opacity: 1;
    }
    50%{
      left: 50px;
      opacity: 1;
    }
    100% {
      left: 400px;
      opacity: 0;
    }
  } */