.contentvideo{
    padding-top:20px;
    display: grid;
    grid-gap:150px;
    justify-content: center;
    position: relative;
}
.imgprevideo{
    width: auto;
    position: relative;
    display: grid;
    justify-content: center;
    padding-bottom:70px;
}
.iframevideo{
    width:1000px ;
    height:600px;
}
@media screen and (max-width:1290px){
    .iframevideo{
        width:800px;
        height:500px;
    }
}