.contentvideo{
    padding-top:50px;
    display: grid;
    grid-gap:200px;
    justify-content: center;
    position: relative;
}
.imgprevideo{
    width: auto;
    position: relative;
    display: grid;
    justify-content: center;
    transition:transform .8s ease-in-out;
}
.imgprevideo:hover{
    transform: translateX(100px);
}