@media screen and (max-width:700px){
.WaterR{
    max-width: 700px;

}
.contentwater{
    overflow: hidden;
    margin-left: -50px;
}
#barco{
    max-width: 200px;
    z-index: 0;
    margin-top: -114px;
    margin-left: 250px;
    position:absolute;
}
.contentwater img{
    max-width: 1000px;
}
.contentwater2{
    position: absolute;
    overflow: hidden;
    margin-left: -50px;
}
.contentwater2 img{
    max-width: 1000px;
}
.mar2fondo{
    margin-top: 50px;
    margin-left: -50px;
}
.marfondo{
    z-index: -1;
    margin-top: -100px;
    position: absolute;
}
.marfondo1{
    margin-top: 50px;
    position: absolute;
    height: 650px;
}
.marfondo2{
    margin-top: 0px;
    position: absolute;
}
.parque{
    display: grid;
    position: relative;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}
.parque14{
    max-width: 500px;
    margin-bottom: 50px;
}
.mapaparque{
    max-width: 600px;
}
.atracciones{
    position:relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}
.atraccionesimg{
    max-width: 350px;
}
.fotos{
    max-width: 200px;
    margin-left: -62px;
    padding-right: 100px;
}
.iconos{
    max-width: 100px;
    display: grid;
}

.cardatraccion{
    margin-top: 80px;
    width: 450px;
    background-color: #1d5394;
    display: grid;
    grid-template-columns: 150px 275px;
    grid-gap: 5px;
    padding: 10px;
    border-radius: 40px;
    -webkit-align-items: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Happy Monkey', cursive;
    color: #fff;
}
.cardatraccion h2{
    text-decoration:underline;
    text-align: left;
    height:10px;
    margin-top: 30px;
    font-size: 20px;
}
.textatr{
    display: grid;
    justify-content: center;
    /* justify-items: center; */
}
}