@media screen and (max-width:700px){
.WaterR{
    max-width: 700px;
    position: relative;
    z-index: 2;
}
.contentwater{
    overflow: hidden;
    margin-left: -50px;
}
.contentwater3 img{
    max-width: 1200px;
}
.contentwater3{
    position: absolute;
}
#barco{
    max-width: 200px;
    z-index: 0;
    margin-top: -114px;
    margin-left: 250px;
    position:absolute;
}
.contentwater img{
    max-width: 1000px;
}
.contentwater2{
    position: absolute;
    overflow: hidden;
    margin-left: -50px;
}
.contentwater2 img{
    max-width: 1000px;
}
.mar2fondo{
    margin-top: 50px;
    margin-left: -50px;
    height: 3000px;
}
.marfondo{
    z-index: -1;
    margin-top: -100px;
    position: absolute;
}
.marfondo1{
    margin-top: 50px;
    position: absolute;
    height: 650px;
}
.marfondo2{
    margin-top: 0px;
    position: absolute;
    
}
.marfondo0{
    margin-top: 70px;
    height: 6500px;
    margin-left: -50px;
}
.parque{
    display: grid;
    position: relative;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}
.parque14{
    max-width: 500px;
    margin-bottom: 50px;
}
.mapaparque{
    max-width: 600px;
}
.atracciones{
    position:relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}
.atraccionesimg{
    max-width: 350px;
}
.fotos{
    max-width: 200px;
    margin-left: -62px;
    padding-right: 100px;
}
.contenticonos{
    display: grid;
    justify-content: center;
}
.iconos{
    max-width: 75px;
    display: grid;
}

.cardatraccion{
    margin-top: 80px;
    width: 500px;
    background-color: #1d539496;
    display: grid;
    grid-template-columns: 150px 300px;
    grid-gap: 5px;
    padding: 10px;
    border-radius: 40px;
    -webkit-align-items: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Happy Monkey', cursive;
    color: #fff;
    text-align: justify;
}
.cardatraccion h2{
    text-decoration:underline;
    text-align: left;
    height:10px;
    margin-top: 30px;
    font-size: 20px;
    white-space: nowrap;
}
.textatr{
    display: grid;
    justify-content: center;
    /* justify-items: center; */
}
.parques{
    max-width: 700px;
    display: grid;
    justify-content: center;
    justify-items:center;
    position: relative;
    margin-top: 70px;
}
.diseñoparque{
    padding: 25px;
    margin: 30px;
    max-width: 500px;
}
.parque200{
    max-width: 450px;
    margin-top:50px;
}
.parque500{
    max-width: 575px;
    margin-top:50px;
    z-index: 1;
}
.parque1000{
    max-width: 620px;
    margin-top:70px;
}
.pez1{
    max-width: 70px;
    position: absolute;
    top:970px;
    left:75px;   
}
.pez2{
    max-width: 70px;
    position: absolute;
    top:1670px;
    left: 120px;   
}
.pez3{
    max-width: 75px;
    position: absolute;
    right: 70px;
    margin-top: 280px;
}
.burbujas{
    max-width:200px;
    position: absolute;
    top:1090px;
    left: 25px;  
    z-index: 0; 
}
.burbujas2{
    max-width:150px;
    position: absolute;
    left: 100px; 
    margin-top: 50px;
}
.ballena{
    max-width:270px;
    position: absolute;
    right: 50px;
    margin-top: 50px;   
}
.tendeciascontent{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 550px;
    margin-top: 240px;
}
.tendeciascontent p{
    font-size: 20px;
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
    margin-top: 20px;
    line-height: 25px;
    text-align: center;
}
.tendencias{
    max-width: 350px;
    z-index: 2;
}

.fondoarena{
    position:absolute;
    max-width: 1000px;
    margin-left: -150px;
}
.contentarena{
    position: relative;
    display: grid;
    justify-content: center;
}
.grupofoto{
    max-width: 530px;
    margin-top: 280px;
}
.hello{
    max-width: 530px;
    margin-top: 40px;
    padding-bottom:20px;
}
}