.Contentwhat {
    z-index: 4;
    display: grid; 
    justify-content: center;
    grid-area:Whatis;
    padding-left: 250px;
    padding-top: 400px;
}
.divcontent{
  width: 750px;
}
.Contentwhat h1{
  margin-bottom: 5px;
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
  color: #5e1a72;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px white;
  text-overflow: ellipsis;
}
.Contentwhat p{
  font-size: 30px;
  font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  margin-top: 20px;
  line-height: 40px;

}
.Contentwhat h3{
  font-size: 30px;
  font-family: 'Happy Monkey', cursive;
  color: #271552;
}
@media screen and (max-width:1610px){
  .Contentwhat{
    padding-left: 100px;
    padding-top: 250px;
  }
}
@media screen and (max-width:1370px){
  .Contentwhat{
    padding-left: 50px;
    padding-top: 100px;
  }
  .divcontent{
    width: 600px;
  }
  .Contentwhat p{
    font-size: 22px;
  }
  .Contentwhat h1{
    font-size: 50px;
    white-space: nowrap;
  }
  .Contentwhat h3{
    font-size: 30px;
  }
}
@media screen and (max-width:1280px){
  .Contentwhat{
    padding-left: 50px;
    padding-top: 100px;
  }
  .divcontent{
    width: 500px;
  }
  .Contentwhat p{
    font-size: 20px;
  }
  .Contentwhat h1{
    font-size: 50px;
    white-space: nowrap;
  }
  .Contentwhat h3{
    font-size: 25px;
  }
}
@media screen and (max-width:700px){
  .aboutfigi{
    max-width: 700px;
    margin-top: 40px;
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .aboutfigi img{
    max-width: 500px;
  }
  .textodeque{
    width: 450px;

  }
  #textocolor{
    color: #271552;
  }
  .aboutfigi p{
    font-size: 23px;
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
    margin-top: 20px;
    line-height: 35px;
    text-align: center;
  }
}