.contentwhyfigi{
    display: grid;
    grid-template-rows: 300px 300px;
    padding-top: 500px;
  grid-row-gap: 50px;
    justify-items: center;
    z-index:2;
}
.content1{
  display: grid;
grid-template-columns: 1fr 300px 1fr;
grid-column-gap: 80px;
}
.content2{
  display: grid;
  grid-column-gap:450px;
  grid-template-columns: 1fr 1fr;
}
#encanta{
  margin-bottom: 5px;
  font-size: 48px;
  font-family: 'Luckiest Guy', cursive;
  color:#306035 ;
  -webkit-text-stroke: 1px #ffffff;
  width: 300px;
  height: 50px;
  text-align: center;
}
.concepttextwhy{
  display:grid;
  grid-template-rows: 80px 1fr;
} 
#imgtop{
  z-index: 1;
  display: grid;
  justify-content: center;
  transition:transform .8s ease-in-out;
}
#imgtop:hover{
  transform: rotate(360deg);
}
.contentwhytext{
  width: 400px;
  border-radius: 20px;
  background-color: #ffffff65;
  height: 200px;
  padding: 35px;
}   
.content1 .contentwhytext p{
  text-align: center;
  font-size: 25px;
  font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  margin-top: 0px;
  z-index: 0;
}
.content2 .contentwhytext{
  height: 250px;
}
.content2 .contentwhytext p{
  text-align: center;
  font-size: 25px;
  font-family: 'Happy Monkey', cursive;
  color: #01396c;
  margin-top: 0px;
  z-index: 0;
}   
#imgstextniño{
  /* transform: scale(1.2); */
  width: auto;
  position: sticky;
  top:0;
  transition:transform .8s ease-in-out;

}
#imgstextniño:hover{
  transform: rotate(360deg);
}

#imgs{
  width: 120px;
  position: relative;
}
@media screen and (max-width:1290px){
  .content1{
    grid-gap: 30px;
  }
  .contentwhyfigi{

    grid-gap: 30px;
  }
  .content2{
    grid-column-gap:350px;
  }
  .contentwhytext{
    width: 350px;
    height: 200px;
    padding: 25px;
  }  
  .content2 .contentwhytext p{
    font-size: 22px;
  }  
  .content1 .contentwhytext p{
    font-size: 22px;
  }
  
}
@media screen and (max-width:700px){
  .content1{
  grid-template-columns: 1fr;
  }
  .content2{
    margin-top: 120px;
    grid-template-columns:  1fr;
  }
  .contentwhyfigi{
    padding-top: 0px;
    grid-template-rows: 150px auto ;
    grid-row-gap: 0px;
}
.contentcards{
  position: absolute;
  margin-top: 150px;
}
.contentwhytext{
  width: 320px;
  height: 180px;
  padding: 25px;
  display: grid;
  align-content: center;
}  
.content1 .contentwhytext p{
  font-size: 20px;
}  
.content2 .contentwhytext p{
  font-size: 20px;
}  
#imgs{
  width:100px;
}
.concepttextwhy{
  grid-template-rows: 60px 1fr;
} 
#encanta{
  height: auto;
  width: 350px;
}

}